<div class="bs-example" data-example-id="navbar-form">
	<nav class="navbar navbar-default navbar-static-top"> 
		<div class="container-fluid"> 
			<div class="navbar-header"> 
				<%= link_to "Gif APP", root_url, class: 'navbar-brand' %>
			</div> 

				<ul class="nav navbar-nav navbar-left">
					<%= form_tag pic_index_path, :method => 'get', class:'navbar-form navbar-left', role: 'search' do %>
				  		<%= text_field_tag :search, params[:search], :placeholder => 'Enter your favorite tag to search', :class => 'form-control', :style => "width:300px;" %>
				  		<%= submit_tag "Search", class:' btn btn-success' %>
					<% end %> 
					<button onclick="myFunction()" class="btn btn-info navbar-btn">Reload Page</button>
				</ul>

		</div> 
	</nav> 
</div>

<div class="tv">

	
</div>


<script type="text/javascript">
function myFunction() {
    location.reload();
}
</script>

<style type="text/css">
.tv {
	background-image: url('<%= @pic %>');
	background-size: 100% 100%;
	margin-top: 
	background-repeat: no-repeat;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	height: 600px;
}


</style>
